body{
  margin:0;
  
}

h9 {
  margin: 0;
  padding: 0;
}
.header_1{
  font-size: 94px;
  text-transform: uppercase;
  color: #ffd738;
  font-weight: normal;
  margin-left: 134px;
  margin-top: -519px;
}
.header_2{
  font-size: 94px;
  text-transform: uppercase;
  color: #363636;
  margin-left: 134px;
  font-weight: 600;
}
.header_3{
  font-size: 47px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #363636;
  font-weight: normal;
  margin-top: 66px;
  margin-left: 130px;
}
.education{
  margin-top: -1697px;
  margin-left: 269px;
  font-size: 63px;
  letter-spacing: 6px;
  line-height: 113px;
  color:#ffffff;
  font-weight: bold;
  z-index: 2;
  font-family: "Bebas Neue";
}
.education_1{
  font-size: 31px;
  text-transform: uppercase;
  color:#ffffff;
  font-weight: 600;
  margin-top: 57px;
  margin-left: 269px;
  font-family: "Poppins";
}
.education_1_1{
  font-size: 28px;
  line-height: 44px;
  color:#ffffff;
  font-weight: 400;
  margin-top: 69px;
  margin-left: 269px;
  font-family: "Poppins";
}
.education_2{
  font-size: 31px;
  text-transform: uppercase;
  color:#ffffff;
  font-weight: 600;
  margin-top: -150px;
  margin-left: 739px;
  font-family: "Poppins";
}
.education_2_2{
  font-size: 28px;
  line-height: 44px;
  color:#ffffff;
  font-weight: 400;
  margin-top: 65px;
  margin-left: 739px;
  font-family: "Poppins";
}
.experience{
  font-size: 63px;
  letter-spacing: 6px;
  line-height: 113px;
  color:#ffffff;
  font-weight: bold;
  margin-top: 201px;
  margin-left: 269px;
  font-family: "Bebas Neue";
}
.experience_1{
  font-size: 34px;
  color:#ffffff;
  font-weight: 600;
  margin-top: 57px;
  margin-left: 269px;
  font-family: "Open Sans";
}
.experience_1_1{
  font-size: 25px;
  color: #2b3036;
  font-weight: 600;
  font-family: "Open Sans";
  margin-top: 34px;
  margin-left: 269px;
}
.experience_1_2{
  font-size: 28px;
  color:#ffffff;
  font-weight: 600;
  font-family: "Open Sans";
  margin-top: -32px;
  margin-left: 460px;
}
.experience_1_3{
  width: 1075px;
  height: 106px;
  font-size: 28px;
  line-height: 44px;
  color:#ffffff;
  font-weight: 600;
  margin-top: 35px;
  margin-left: 270px;
}
.experience_2{
  font-size: 34px;
  color:#ffffff;
  font-weight: 600;
  margin-top: 90px;
  margin-left: 269px;
  font-family: "Open Sans";
}
.experience_2_1{
  font-size: 25px;
  color: #22222d;
  font-weight: 600;
  font-family: "Open Sans";
  margin-top: 37px;
  margin-left: 269px;
}
.experience_2_2{
  font-size: 28px;
  color:#ffffff;
  font-weight: 600;
  margin-top: -32px;
  margin-left: 470px;
  font-family: "Open Sans";
}
.experience_2_3{
  width: 1075px;
  height: 106px;
  font-size: 28px;
  line-height: 44px;
  color:#ffffff;
  font-weight: 600;
  margin-top: 35px;
  margin-left: 270px;
  font-family: "Open Sans";
}
.expertise{
  font-size: 63px;
  letter-spacing: 6px;
  line-height: 113px;
  color:#ffffff;
  font-weight: bold;
  margin-top: 209px;
  margin-left: 274px;
  font-family: "Bebas Neue";
}
.mal_1{
  width: 1132px;
  height: 1847px;
  background-color: #2b3036;
  margin-top: 184px;
  margin-left: 130px;
  z-index: 1;
}
.mal_2{
  width: 658px;
  height: 751px;
  background-color: #ffca05;
  margin-top: -50px;
  margin-left: 1262px;
}