body{
  margin:0;
  padding: 0;
}

header{
  display: flex;
  flex-direction: row;
}

.m1{
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: #2b3036;
  margin-top: 67px;
  margin-left: 676px;
  z-index: 1;
}

.m2{
  position: absolute;
  width: 227px;
  height: 8px;
  background-color: #ffca05;
  margin-top: 165px;
  margin-left: 496px;
  z-index: 1;
}

.m3{
  position: absolute;
  width: 246px;
  height: 8px;
  background-color: #ffffff;
  margin-top: 495px;
  margin-left: 96px;
  z-index: 1;
}

.left_container{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 107px;
  margin-top: 184px;
  z-index: -1;
}

.michel{
  font-size: 75px;
  color: #ffd738;
  font-weight: 500;
  text-transform: uppercase;
}

.rigaurio{
  font-size: 75px;
  color: #363636;
  font-weight: 700;
  text-transform: uppercase;
}

.ui{
  color: #363636;
  font-size: 38px;
  letter-spacing: 1px;
  font-weight: 500;
}

.right_container{
  position: relative;
  display: flex;
  margin-left: 512px;
  margin-top: 0px;
  z-index: 1;
}

/*.photo img {
  width: 338px;
  height: 435px;
  object-fit: cover; 
}*/

.mal1{
  width: 528px;
  height: 600px;
  background-color: #ffca05;
}

main {
  display: flex;
}

.left_container_main {
  position: relative;
  display: flex;
  flex-direction: column; 
  color: #ffffff;
}

.mal2{
  position: absolute;
  width: 906px;
  height: 1478px;
  background-color: #2b3036;
  z-index: 0;
  margin-left: 104px;
  margin-bottom: 76px;
}

.education {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-top: 121px;
  margin-left:215px;
}

._1,._2,._3{
  color: #ffd738;
}

.mal5{
  position: absolute;
  width: 906px;
  height: 35px;
  background-color: #373c43;
  z-index: -1;
  margin-left: -111px ;
  margin-top: 23px ;
}

.mal6{
  position: absolute;
  width: 21px;
  height: 35px;
  background-color: #ffca05;
  z-index: 1;
  margin-left: -111px ;
  margin-top: 23px ;
}

.education_content {
  display: flex;
  flex-direction: row;
}

.education_left,
.education_right {
  display: flex;
  flex-direction: column;
}

.education_right{
  padding-left: 165px;
}

.experience{
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-left:215px;
  padding-top: 161px;
}

.mal7{
  position: absolute;
  width: 906px;
  height: 35px;
  background-color: #373c43;
  z-index: -1;
  margin-left: -111px ;
  margin-top: 23px ;
}

.mal8{
  position: absolute;
  width: 21px;
  height: 35px;
  background-color: #ffca05;
  z-index: 1;
  margin-left: -111px ;
  margin-top: 23px ;
}

.experience_content {
  display: flex;
  flex-direction: row;
}

.experience_left,
.experience_right {
  display: flex;
  flex-direction: column; 
}

.experience_left{
  position: relative;
  color: #22222d;
  padding-left: 31px;
  //z-index: 2;
}

.mal3{
  position: absolute;
  width: 132px;
  height: 33px;
  border-radius: 6px;
  background-color: #ffca05;
  z-index: -1; 
  left: 0; 
  top: 12px;
}

.experience_right{
  padding-left: 51px;
}

.experience_content2 {
  display: flex;
  flex-direction: row;
}

.experience_left2,
.experience_right2 {
  display: flex;
  flex-direction: column; 
}

.experience_left2{
  position: relative;
  color: #22222d;
  padding-left: 21px;
  z-index: 2;
}

.mal4{
  position: absolute;
  width: 132px;
  height: 33px;
  border-radius: 6px;
  background-color: #ffca05;
  z-index: -1; 
  left: 0; 
  top: 12px;
}

.experience_right2{
  padding-left: 33px;
}

.expertise{
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-left:215px;
  padding-top: 166px;
}

.mal9{
  position: absolute;
  width: 906px;
  height: 35px;
  background-color: #373c43;
  z-index: -1;
  margin-left: -111px ;
  margin-top: 23px ;
}

.mal10{
  position: absolute;
  width: 21px;
  height: 35px;
  background-color: #ffca05;
  z-index: 1;
  margin-left: -111px ;
  margin-top: 23px ;
}

.expertise_content{
  display: flex;
  flex-direction: row;
  padding-top: 98px;
}

.expertise_left{
  padding-left: 144px;
}

.el{
  position: relative;
}

.img1{
  position: absolute;
  margin-left: -59px;
  margin-top: -113px;
}

.exprtise_r1{
  padding-left: 98px;
}

.er1{
  position: relative;
}

.img2{
  position: absolute;
  margin-left: -63px;
  margin-top: -113px;
}

.exprtise_r2{
  padding-left: 106px;
}

.er2{
  position: relative;
}

.img3{
  position: absolute;
  margin-left: -70px;
  margin-top: -113px;
}

.exprtise_r3{
  padding-left: 117px;
}

.er3{
  position: relative;
}

.img4{
  position: absolute;
  margin-left: -68px;
  margin-top: -113px;
}

.right_container_main {
  display: flex;
  flex-direction: column;
}

._4,._5,._6{
  color: #ffd738;
}

.about_me{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 253px;
  padding-top: 120px;
  z-index: 1;
}

.mal11{
  position: absolute;
  width: 525px;
  height: 35px;
  background-color: #f1f1f1;
  margin-left: -125px ;
  margin-top: 23px ;
  z-index: -1;
}

.mal12{
  position: absolute;
  width: 21px;
  height: 35px;
  background-color: #ffca05;
  z-index: 1;
  margin-left: -125px ;
  margin-top: 23px ;
}

.contact_info{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 253px;
  padding-top: 125px;
  z-index: 1;
}

.mal13{
  position: absolute;
  width: 525px;
  height: 35px;
  background-color: #f1f1f1;
  margin-left: -125px ;
  margin-top: 23px ;
  z-index: -1;
}

.mal14{
  position: absolute;
  width: 21px;
  height: 35px;
  background-color: #ffca05;
  z-index: 1;
  margin-left: -125px ;
  margin-top: 23px ;
}

.hobbies{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 253px;
  padding-top: 137px;
  z-index: 1;
}

.mal15{
  position: absolute;
  width: 525px;
  height: 35px;
  background-color: #f1f1f1;
  margin-left: -125px ;
  margin-top: 23px ;
  z-index: -1;
}

.mal16{
  position: absolute;
  width: 21px;
  height: 35px;
  background-color: #ffca05;
  z-index: 1;
  margin-left: -125px ;
  margin-top: 23px ;
}

.hobby_content{
  display: flex;
  flex-direction: row;
  padding-top: 107px;
}

.hobby_left{
  padding-left: -2px;
}

.hob1{
  margin-left: -20px;
}

.hobby_r1{
  padding-left: 39px;
}

.hob2{
  margin-left: -25px;
}

.hobby_r2{
  padding-left: 40px;
}

.hob3{
  margin-left: -17px;
}

.hobby_r3{
  padding-left: 39px;
}

.hob4{
  margin-left: -20px;
}

.mal17{
  width: 526px;
  height: 76px;
  background-color: #ffca05;
  margin-top: 55px;
  margin-left: 102px;
}