body{
  margin:0;
}
h9 {
  margin: 0;
  padding: 0;
}
.header{
  
}

.header_1{
  font-size: 94px;
  text-transform: uppercase;
  color: #ffd738;
  font-weight: normal;
  margin-left: 134px;
  margin-top: 231px;
}
.header_2{
  font-size: 94px;
  text-transform: uppercase;
  color: #363636;
  margin-left: 134px;
  font-weight: 600;
}
.header_3{
  font-size: 47px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #363636;
  font-weight: normal;
  margin-top: 66px;
  margin-left: 130px;
}